*

!.gitignore
!README.md

!source/
source/*
!source/platform/
source/platform/*
!source/platform/mbedtls_3ds.c

!third_party/
third_party/*
!third_party/mbedtls_3ds_config.h
!third_party/3ds/
third_party/3ds/*
!third_party/3ds/include/
third_party/3ds/include/*
!third_party/3ds/include/libssh2.h
!third_party/3ds/include/libssh2_publickey.h
!third_party/3ds/include/libssh2_sftp.h
!third_party/3ds/include/mbedtls/
!third_party/3ds/include/mbedtls/**
!third_party/3ds/include/psa/
!third_party/3ds/include/psa/**
!third_party/3ds/include/everest/
!third_party/3ds/include/everest/**
!third_party/3ds/lib/
third_party/3ds/lib/*
!third_party/3ds/lib/libssh2.a
!third_party/3ds/lib/libmbedcrypto.a
!third_party/3ds/lib/libmbedtls.a
!third_party/3ds/lib/libmbedx509.a
!third_party/3ds/lib/libeverest.a
!third_party/3ds/lib/libp256m.a
!third_party/3ds/share/
third_party/3ds/share/*
!third_party/3ds/share/doc/
third_party/3ds/share/doc/*
!third_party/3ds/share/doc/libssh2/
third_party/3ds/share/doc/libssh2/*
!third_party/3ds/share/doc/libssh2/COPYING
!third_party/3ds/share/doc/libssh2/README
